.left {
  margin-right: 40px;
}

.form {
  margin-bottom: 64px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 18px 0px 36px;
}

.button {
  margin: 24px auto 0px;
}

.emoji {
  position: absolute;
  font-size: 36px;
  left: -64px;
  top: 4px;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: #F9F9F9;
  transform: rotateZ(1.2deg);
}

.title {
  position: relative;
  font-size: 42px;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 17px;
  margin-bottom: 20px;
  color: #686868;
}

.divider {
  background-color: #D9D9D9;
  width: 158px;
  height: 1px;
  margin-bottom: 64px;
}

@media only screen and (max-width: 480px) {
  .container {
    flex-direction: column-reverse;
    padding: 30px 0px 45px;
  }

  .left {
    margin: 24px 0px;
  }

  .rightContainer {
    margin-bottom: 18px;
  }
  .container img {
    height: unset;
    width: 85vw;
  }

  .title {
    font-size: 23px;
  }

  .subtitle {
    font-size: 16px;
  }

  .emoji {
    font-size: 30px;
    left: -54px;
  }

  .background {
    left: -5px;
    right: -5px;
  }
}

@media only screen and (max-width: 480px) {
  .form {
    width: 100%;
    padding: 0px 24px;
  }
}
