.container {}

.container textArea {
  margin-bottom: 12px;
  min-height: 160px;
  min-width: 380px;
}

.container input, .container textArea {
  border: 1px solid #C6C6C6;
  border-radius: 2px;
  padding: 8px;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container input::placeholder, .container textarea::placeholder {
  color: #D2D2D2;
}

.container input:focus, .container textarea:focus {
  outline: none !important;
  box-shadow: 0px 0px 0px 2px #bcbdff;
}

.container input {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .container textArea {
    min-width: unset;
    width: 100%;
  }
}