.container {}

.disabled {
  opacity: 0.5
}

.container button {
  background-color: black;
  display: block;
  border-radius: 2px;
  transform: scale(1);
  transition: all 0.15s ease-in-out;
  border: 0px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 12px 20px;
  font-size: 15px;
  cursor: pointer;
}

.container button:hover:not(:disabled) {
  transform: scale(1.05);
}

.container button:disabled {
  background-color: #D9D9D9;
  cursor: initial;
}

.container button:active:not(:disabled) {
  transform: scale(0.98);
  transition: all 0.07s ease-out;
}