.container {
  color: black;
  transition: all 0.03s;
  position: relative;
  transform: scale(1);
  display: inline-block;
}

.colored {
  color: #ff6b6b !important;
  opacity: 0.8;
}

.container:hover, .container:hover * {
  color: #ff6b6b !important;
  opacity: 1;
}

.container:active {
  /* transform: scale(0.98); */
  color: rgb(54, 54, 54);
}

.underline {
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* background-color: #00fff7; */
  background-color: black;
  transform: translate3d(0px, 0px, 0px) scale(0, 0.9);
  transform-origin: center;
  transition: all 0.21s cubic-bezier(.21,-0.02,.35,1);
}

.underlineVisible {
  transform: translate3d(0px, 0px, 0px) scale(1, 1);
}
