.container {
  height: 80px;
  max-width: 2048px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 30px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.inverted * {
  color: white;
}

.name {
  font-size: 24px;
}

.subPages {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subPages > div {
  margin-right: 14px;
}

.subPages > div:last-child {
  margin-right: 0px;
}

.subpageLinks {
  margin-right: auto;
  margin-left: 36px;
  position: relative;
  top: 4px;
}


.subPageButtonUnselected {
  color: #A7A7A7 !important;
}