.container {
  height: 80px;
  width: 100%;
  max-width: 2048px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 64px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.instagram {
  margin-left: auto;
  transition: all 0.15s ease-in-out;
  transform: scale(1);
  transform-origin: center;
}

.instagram:hover {
  transform: scale(1.05);
}

.instagram:hover path{
  fill: #ff6b6b !important;
}

.inverted path {
  fill: white !important;
}

.instagram svg {
  width: 24px;
}

.instagram path {
  transition: all 0.15s ease-in-out;
  fill: #bcbcbc;
}

.mobileContainer {
  position: fixed;
  z-index: 10;
  flex-direction: row;
  justify-content: center;
  left: 0;
  right: 0;
}

.inverted * {
  color: white;
}

.name {
  font-size: 24px;
}

.nameMobile {
  font-size: 15px;
}

.subPages {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subPages > div {
  margin-right: 14px;
}

.subPages > div:last-child {
  margin-right: 0px;
}

.subpageLinks {
  margin-right: auto;
  margin-left: 36px;
  position: relative;
  top: 4px;
}


.subPageButtonUnselected {
  color: #A7A7A7;
}

.subPageButtonUnselected.inverted {
  color: white;
  opacity: 0.7;
}

@media only screen and (max-width: 480px) {
  .container {
    justify-content: center;
    width: 100vw;
    position: initial;
  }

  .subpageLinks {
    display: none;
  }

  .name {
    font-size: 15px;
  }

  .instagram {
    display: initial;
    position: absolute;
    margin-left: auto;
    right: 16px;
    top: 27px;
  }

}
