.journalHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px auto 80px;
  position: relative;
  width: 636px;
  height: 174px;
  padding: 18px;
}

.backgroundBlob {
  background-color: #FAFAFA;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: rotateZ(-1deg);
}

.headerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 290px;
  opacity: 0;
  animation: fadeUp 1.5s cubic-bezier(.18,.59,.44,.99) 0s 1 normal forwards;
}

.welcomeSpacer {
  width: 60px;
}
.welcome {
  font-size: 42px;
  display: flex;
  color: #d58d8d;
}

.welcomeSubtext {
  font-size: 28px;
  height: 35px;
  margin-left: 8px;
  color: #474747
}

.welcomeText {
  margin-left: 8px;
}

.headerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  color: #454545;
  position: relative;
  top: 10px;
  width: 188px;
}
.headerRight > div {
  margin-bottom: 8px;
  opacity: 0;
}

.headerRight > div:first-child {
  animation: fadeUp 1.5s cubic-bezier(.18,.59,.44,.99) 0.5s 1 normal forwards;
}

.headerRight > div:nth-child(2) {
  animation: fadeUp 1.5s cubic-bezier(.18,.59,.44,.99) 1.2s 1 normal forwards;
}

.headerRight > div:nth-child(3) {
  animation: fadeUp 1.5s cubic-bezier(.18,.59,.44,.99) 2s 1 normal forwards;
}

.divider {
  width: 1px;
  height: 108px;
  background-color: #E1E1E1;
  margin: 0px 24px;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes waveAnim{
  0% {
    transform: rotateZ(30deg);
  }
  30% {
    transform: rotateZ(-20deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  80% {
    transform: rotateZ(0deg);
  }

}

.wave {
  animation: waveAnim 2s cubic-bezier(.44,0,.48,1.01);
  transform-origin: 65% 65%;
}

@media only screen and (max-device-width: 480px) {
  .journalHeaderContainer {
    margin: 15px 0px 50px;
    width: initial;
  }
  .headerRight {
    display: none;
  }

  .divider {
    display: none;
  }

  .welcomeSpacer {
    width: 30px;
  }
}
