.journalHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px auto 160px;
  position: relative;
  height: 174px;
  padding: 18px;
}

.backgroundBlob {
  background-color: #FAFAFA;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* transform: rotateZ(-1deg); */
}

.headerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 290px;
  opacity: 0;
  animation: fadeUp 1.5s cubic-bezier(.18,.59,.44,.99) 0s 1 normal forwards;
  position: relative;
  top: -10px;
}

.welcomeSpacer {
  width: 6px;
}
.welcome {
  font-size: 64px;
  display: flex;
  color: white;
}

.welcomeSubtext {
  font-size: 27px;
  height: 35px;
  margin-left: 8px;
  color: white;
}

.welcomeText {
  margin-left: 8px;
}

.headerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  color: white;
  position: relative;
  width: 320px;
}
.headerRight > div {
  margin-bottom: 8px;
  opacity: 0;
}

.headerRight > div:last-child {
  margin-bottom: 0px;
}

.headerRight > div:first-child {
  animation: fadeUp 1.5s cubic-bezier(.18,.59,.44,.99) 0.3s 1 normal forwards;
}

.headerRight > div:nth-child(2) {
  animation: fadeUp 1.5s cubic-bezier(.18,.59,.44,.99) 0.8s 1 normal forwards;
}

.headerRight > div:nth-child(3) {
  animation: fadeUp 1.5s cubic-bezier(.18,.59,.44,.99) 1.5s 1 normal forwards;
}

.divider {
  width: 3px;
  height: 108px;
  background-color: white;
  margin: 0px 24px 0px 8px;
}

.outerContainer {
  position: absolute;
  height: 380px;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.movingPhotoContainer {
  position: absolute;
  left: -10px;
  right: -10px;
  top: -20px;
  height: 380px;
  /* transform: rotateZ(0.8deg); */
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.subscribeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 24px 0px;
}

@keyframes moveUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(-300px, -200px, 0px);
  }
}

.image {}

.movingPhotoContainer .image {
  animation: moveUp 120s linear;
  filter: brightness(60%);
  width: 120%;
  height: 110%;
  position: relative;
  background-size: cover;
  background-position: 0% 25%;
  /* top: -300px; */
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes waveAnim{
  0% {
    transform: rotateZ(30deg);
  }
  30% {
    transform: rotateZ(-20deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  80% {
    transform: rotateZ(0deg);
  }

}

.wave {
  animation: waveAnim 2s cubic-bezier(.44,0,.48,1.01);
  transform-origin: 65% 65%;
}

@media only screen and (max-width: 480px) {
  .journalHeaderContainer {
    margin: 0px 0px 50px;
    padding-top: 0px;
    width: initial;
    top: -10px;
  }
  .headerRight {
    display: none;
  }

  .divider {
    display: none;
  }

  .outerContainer {
    height: 300px;
  }

  .movingPhotoContainer {
    height: 300px;
    top: -5px;
    overflow: hidden;
    /* transform: rotateZ(-1.5deg); */
  }

}
