.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  font-size: 36px;
}

.divider {
  height: 0.5px;
  width: 26px;
  background-color: #B7B7B7;
  margin: 22px 0px 32px;
}

@media only screen and (max-device-width: 480px) {
  .divider {
    margin: 22px 0px;
  }
}