.container {
  height: 108px;
  max-width: 972px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #ECECEC;
  margin: 64px auto 0px;
  font-size: 13px;
  position: relative;
}

.container a {
  color: #A3A3A3 !important;
}

.left {
  margin-right: auto;
  margin-left: 30px;
}

.right {
  margin-left: auto;
  margin-right: 20px;
  text-align: right;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle > div {
  margin: 0px 16px;
}

.twitterContainer {}

.instagramContainer {
  margin-right: 19px !important;
}

.twitterContainer svg {
  width: 22px;
}

.mail svg {
  width: 22px;
}

.instagramContainer svg path {
  fill: #525252;
}

.twitterContainer:hover svg, .mail:hover svg {
  stroke: #ff6b6b !important;
}

.instagramContainer:hover path {
  fill: #ff6b6b !important;
}


.hoverLink {
  transform: scale(1);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.hoverLink:hover {
  opacity: 0.85;
  transform: scale(1.1);
}

.github {
  opacity: 0.4;
  margin-left: 6px;
}

.innerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightText {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 480px) {
  .container {
    margin-left: 16px;
    margin-right: 16px;
  }

  .right {
    display: none;
  }
  .middle {
    left: 65%;
  }
}