.container {
  height: 108px;
  max-width: 972px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #ECECEC;
  margin: 100px auto 0px;
  font-size: 13px;
  position: relative;
}

.container a {
  color: #A3A3A3 !important;
}

.left {
  margin-right: auto;
  margin-left: 30px;
}

.right {
  margin-left: auto;
  margin-right: 20px;
  width: 100px;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle > div {
  margin: 0px 16px;
}

.twitterContainer {}

.instagramContainer {
  margin-right: 19px !important;
}
.instagramContainer svg{
  width: 22px;
}


.twitterContainer svg {
  width: 30px;
}

.container svg path {
  fill: #525252;
}

.hoverLink {
  transform: scale(1);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.hoverLink:hover {
  opacity: 0.85;
  transform: scale(1.1);
}
