.title {}

.mainView {
  display: flex;
  align-items: center;
}

.mainView p {
  color: #4c4c4c;
}

.mainView img {
  height: 380px;
  margin-right: 64px;
}

.mainView a {
  display: inline-block;
}

.text {
  display: flex;
  flex-direction: column;
  width: 430px;
}

.flippyContainer {
  overflow: hidden;
  position: relative;
  top: 3px;
  width: 175px;
  height: 19px;
  display: inline-block;
}

.footnote {
  margin-top: 24px;
}

.animatedAge {
  display: inline;
}

@media only screen and (max-width: 480px) {
  .mainView {
    flex-direction: column-reverse;
  }

  .mainView img {
    margin: 24px 0px;
  }

  .text {
    width: initial;
    padding: 0px 24px;
  }
}