.container {
  position: relative
}
.preview {
  height: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.gradient {
  background: linear-gradient(180deg, rgba(255,255,255,0) 20%, rgb(255, 255, 255, 1) 100%);
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  bottom: -2px;
  z-index: 10;
  background-position-y: 3px;
}