.headerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 48px 0px;
}
.headerTitle {
  font-size: 42px;
}

.headerTitle a {
  color: #272727 !important;
}

.headerDate {
  margin: 4px 0px 6px;
  font-size: 17px;
  display: flex;
}

.headerDate a {
  color: #464545;
}

.slash {
  color: #e7e7e7;
  font-size: 22px;
  top: -3px;
  position: relative;
}

.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.postContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContent  p {
  width: 680px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 21px;
  line-height: 32px;
}

/* Handle top and bottom of paragraphs btwn images */

.postContent img + p {
  margin-top: 85px;
}

.postContent p + img, .postContent p + div {
  margin-top: 64px;
}

/* .isCompact {} */

.isCompact img {
  max-width: 1280px !important;
  max-height: 1000px !important;
}

.backButton {
  margin-top: 72px;
}

.backButton a {
  color: #4C4C4C;
}

.disqusWrapper {
  width: 100%;
  max-width: 600px;
  margin-top: 80px;width: 100%;
  position: relative;
}

.disqusFooterCoverer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: white;
}

@media only screen and (max-width: 480px) {
  .headerContainer {
    margin-top: 26px;
    margin-bottom: 20px;
  }

  .postContent img + p {
    margin-top: 26px;
  }

  .postContent p + img {
    margin-top: 26px;
  }

  .headerTitle {
    font-size: 24px;
  }
  .headerDate {
    font-size: 12px;
    margin: 0px 0px 6px;
  }

  .postContainer {
    padding: 0px 0px;
  }

  .postContent p {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 22px;
    padding: 0px 24px;
  }

  .backButton {
    margin-top: 72px;
    font-size: 14px;
  }

  .slash {
    font-size: 15px;
    top: -1px;
  }

  .disqusWrapper {
    width: calc(100vw - 60px);
  }

  .disqusFooterCoverer {
    height: 60px;
  }
}