.headerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.headerTitle {
  font-size: 36px;
}
.headerDate {
  font-size: 15px;
}

.headerSeparator {
  margin: 23px 0px 36px;
  height: 0.5px;
  background-color: #e1e1e1;
  width: 26px;
}

.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 12px;
}

.postContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContent  p {
  width: 680px;
  margin: 0px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

/* .isCompact {} */

.isCompact img {
  max-width: 1280px !important;
  max-height: 1000px !important;
}

@media only screen and (max-device-width: 480px) {
  .headerContainer {
    margin-top: 26px;
  }

  .headerTitle {
    font-size: 24px;
  }
  .headerDate {
    font-size: 11px;
  }

  .postContainer {
    padding: 0px 0px;
  }

  .postContent p {
    width: initial;
    margin: 0px 14px;
  }

  .headerSeparator {
    margin: 4px 0px 6px;
    width: 14px;
  }
}