.headerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 64px 0px;
}
.headerTitle {
  font-size: 42px;
}

.headerTitle a {
  color: #272727 !important;
}

.headerDate {
  margin: 4px 0px 6px;
  font-size: 17px;
}

.headerDate a {
  color: #464545;
}

.headerSeparator {
  margin: 32px 0px 36px;
  height: 0.5px;
  background-color:#c0c0c0;
  width: 26px;
  display: none;
}

.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.postContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContent  p {
  width: 680px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 21px;
  line-height: 32px;
}

/* Handle top and bottom of paragraphs btwn images */

.postContent img + p {
  margin-top: 64px;
}

.postContent p + img {
  margin-top: 64px;
}

/* .isCompact {} */

.isCompact img {
  max-width: 1280px !important;
  max-height: 1000px !important;
}

.backButton {
  margin-top: 48px;
}

.backButton a {
  color: #4C4C4C;
}

@media only screen and (max-device-width: 480px) {
  .headerContainer {
    margin-top: 26px;
  }

  .headerTitle {
    font-size: 24px;
  }
  .headerDate {
    font-size: 12px;
    margin: 0px 0px 6px;
  }

  .postContainer {
    padding: 0px 0px;
  }

  .postContent p {
    width: initial;
    margin: 0px 14px;
    margin: 36px 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
  }

  .headerSeparator {
    margin: 4px 0px 10px;
    width: 14px;
    display: initial;
  }

  .backButton {
    margin-top: 36px;
    font-size: 14px;
  }

}