html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  max-width: 2048px;
  margin: 0px auto;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}